<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="keywords" content="{% block keywords %}得胡, bioinfo, notebook{% endblock %}">
    <meta name="description" content="{% block description %}Defaule description{% endblock %}">
    <meta name="author" content="Dehe Wang">
    <title>{% block title %}得胡的bioinfo&nbsp;notebook{% endblock %}</title>

    <!-- Bootstrap CSS -->
    <link href="https://cdn.bootcss.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
    <link href="/static/css/docs.css" rel="stylesheet">
    {% block head %}{% endblock %}
</head>
<body>
    {% block body %}Default Body{% endblock %}
    <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script>
    {% block js %}<script src="/static/js/base.js"></script>{% endblock %}
</body>
</html>