{% extends 'base.html' %}

{% block body %}
    <header class="navber navbar-expand navbar-dark flex-column flex-md-row bd-navbar">
        <div>{% block header %}Default detail header{% endblock %}</div>
    </header>
    <div class="w-100"></div>

    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="d-none d-xl-block col-xl-2 bd-toc">{% block right_ad %}Default ad{% endblock %}</div>
            <main class="col-12 col-md-12 col-xl-10 py-md-3 pl-md-5 bd-content" role="main">
                {% block main %}Default detail{% endblock %}
            </main>
        </div>
    </div>
{% endblock %}