{% extends 'base.html' %}

{% block body %}
    <header class="container-fluid navbar navbar-expand flex-column flex-md-row bd-navbar">
        {% block header %}Default detail header{% endblock %}
    </header>
    <div class="w-100"></div>

    <div class="container-fluid">
        <div class="row flex-xl-nowrap">
            <div class="col-12 col-md-3 col-xl-2 bd-sidebar bg_grey">
                {% block nav %}Default nav{% endblock %}
            </div>
            <main class="col-12 col-md-9 col-xl-8 py-md-3 pl-md-5 bd-content" role="main">
                {% block main %}Default detail{% endblock %}
            </main>
            <div class="d-none d-xl-block col-xl-2 bd-toc">{% block right_ad %}Default ad{% endblock %}</div>
        </div>
    </div>
{% endblock %}
