{% extends 'double.html' %}
{% block title %}About us&nbsp;·&nbsp;得胡的bioinfo&nbsp;notebook{% endblock %}
{% block description %}About us{% endblock %}
{% block keywords %}About us, 得胡的bioinfo&nbsp;notebook{% endblock %}

{% block header %}
    {% include 'header.html' %}
{% endblock %}

{% block nav %}
    <div>
        <nav id="left_nav" class="bd-links collapse bg_grey" style="padding-bottom: 0px;">
            <h3 class="nav-link">About us</h3>
            <h5 class="nav-link"><a class="nav_div_title black nav-link" href="/about/about_us">关于作者</a></h5>
            <h5 class="nav-link"><a class="nav_div_title black nav-link" href="/about/help_us">帮助我们</a></h5>
            <h5 class="nav-link"><a class="nav_div_title black nav-link" href="/about/duty">责任声明</a></h5>
        </nav>
    </div>
{% endblock %}