{% extends 'about/about_base.html' %}

{% block main %}
    <h3>帮助我们</h3>
    <hr>
    <p>感谢您对&nbsp;<b>得胡的bioinfo&nbsp;notebook</b>&nbsp;的关注和支持，您对我们的任何帮助都会使我们做得更好。</p>
    <p>您可以通过以下方式帮助我们:</p>
    <hr>
    <h5>推荐&nbsp;<b>得胡的bioinfo notebook</b></h5>
    <p>向您的朋友、同事或同学推荐&nbsp;<b>得胡的bioinfo&nbsp;notebook</b>&nbsp;，让本网站帮助到更多的人。</p>
    <hr>
    <h5>报告&nbsp;<b>得胡的bioinfo&nbsp;notebook</b>&nbsp;中存在的错误和断链</h5>
    <p>如果您发现在&nbsp;<b>得胡的bioinfo&nbsp;notebook</b>&nbsp;中存在内容错误，别字语法错误或不能打开的链接，请及时通知我们（<code>server@bioinfonotebook.com</code>）。我们会在第一时间予以修正。</p>
    <hr>
    <h5>添加指向&nbsp;<b>得胡的bioinfo&nbsp;notebook</b>&nbsp;的链接</h5>
    <p>在您的个人网站、社交平台添加指向&nbsp;<b>得胡的bioinfo&nbsp;notebook</b>&nbsp;的链接。</p>
    <p>代码规范：</p>
    <code>&lt;a href=&quot;https://bioinfonotebook.com/&quot;&gt;得胡的bioinfo&nbsp;notebook&lt;/a&gt;</code>
    <hr>
    <h5>小额赞助</h5>
    <p>如果您认为&nbsp;<b>得胡的bioinfo&nbsp;notebook</b>&nbsp;的教程很有帮助，可以考虑对我们给予小额帮助，以鼓励写出更好的教程。</p>
    <div class="row justify-content-center">
        <div class="media text-center">
            <div class="col justify-content-center">
                <img src="/static/img/alipay_sponsor_barcode.jpg" height="180" width="180">
                <div><p>通过支付宝赞助</p></div>
            </div>
            <div class="col justify-content-center">
                <img src="/static/img/wechat_ sponsor_barcode.png" height="180" width="180">
                <div><p>通过微信赞助</p></div>
            </div>
        </div>
    </div>
    <p>您也可以使用支付宝扫描领取红包，这样在您使用红包时，我们支付宝也会给我们一些奖励。</p>
    <div class="row justify-content-center">
        <div class="media text-center">
            <div class="col justify-content-center">
                <img src="/static/img/alipay_ present_barcode.jpg" width="260">
                <div><p>通过支付宝扫码红包进行赞助</p></div>
            </div>
        </div>
    </div>

{% endblock %}